body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.container {
    display: flex;
    width: 100%; /* Usei 80% da largura da tela (ajuste conforme necessário) */
    height: 100%; /* Usei 80% da altura da tela (ajuste conforme necessário) */
}

.sidebar {
    width: 80px;
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.logout-btn {
    margin-top: auto;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.main-content {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    overflow-y: auto;
}

textarea {
    width: 80%;
    height: 100%;
    border: dashed 10px, 5px, 10px, 0, 0 ;
    padding: 10px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
    line-height: 1.8; /* Aumentei o espaçamento entre as linhas */
    background: linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 20px 40px; /* Ajuste conforme necessário para a densidade das linhas e espaçamento */
    resize: none;
}

.dark-mode {
    background-color: #333;
    color: #3498db;
}

.dark-mode .sidebar {
    background-color: #2c3e50;
}

.dark-mode .menu-item {
    color: #fff;
}

.dark-mode .logout-btn {
    background-color: #e74c3c;
    color: #fff;
}

.dark-mode .main-content {
    background-color: #34495e;
}
